<ul>
  <li>Hash: {{ hash }}</li>
  <li>Confirmations: {{ confirmations }}</li>
  <li>Size: {{ size }}</li>
  <li>Height: {{ height }}</li>
  <li>Version: {{ version }}</li>
  <li>Merkle Root: {{ merkleroot }}</li>
  <li>Time: {{ time }}</li>
  <li>Nonce: {{ nonce }}</li>
  <li>Bits: {{ bits }}</li>
  <li>Chainwork: {{ chainwork }}</li>
  {% if previousblockhash %}
  <li>Previos block hash: <a href="{% url 'talk:block_detail' previousblockhash %}">{{ previousblockhash }}</a></li>
  {% endif %}
  {% if nextblockhash %}
  <li>Next block hash: <a href="{% url 'talk:block_detail' nextblockhash %}">{{ nextblockhash }}</a></li>
  {% endif %}
</ul>
