{% extends 'talk/base.html' %}
{% load static %}

{% block body_block %}
<script src="{% static 'talk/js/tablesort.js' %}"></script>
(<a href="{% url 'talk:index' %}">Return to block index</a>)
<h3>Block</h3>
<ul>
  <li>Hash: {{ block_hash }}</li>
  <li>Height: {{ block_height }}</li>
  <li>Merkle Root: {{ merkleroot }}</li>
  <li>Time: {{ time }}</li>
  <li>Nonce: {{ nonce }}</li>
  <li>Bits: {{ bits }}</li>
  {% if prev_block_hash %}
  <li>Previos block hash: <a href="{% url 'talk:block_detail' prev_block_hash %}">{{ prev_block_hash }}</a></li>
  {% endif %}
  {% if next_block_hash %}
  <li>Next block hash: <a href="{% url 'talk:block_detail' next_block_hash %}">{{ next_block_hash }}</a></li>
  {% endif %}
</ul>

<form action="{% url 'talk:block_post' block_hash %}" method="post">
  {% csrf_token %}
  <label for="comment">Leave a comment:</label><br />
  <input type="text" name="comment" id="comment"/>
  <input type="submit" value="Post" />
</form>

<ul>
  {% for comment in comments %}
  <li>{{ comment.comment_text }}</li>
  {% endfor %}
</ul>


<h3 align="center">Transactions</h3>
<table id="sorttable" class="center">
  <tr>
    <th>Hash</th>
    <th>Amount<th>
  </tr>
  {% for transaction in transactions %}
  <tr>
    <td><a href="{% url 'talk:transaction_detail' transaction.tx_hash %}">{{ transaction.tx_hash }}</a></td>
    <td>{{ transaction.total_value }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
