{% extends 'talk/base.html' %}
{% block body_block %}
(<a href="{% url 'talk:index' %}">Return to blocks list</a>)
(<a href="{% url 'talk:block_detail' transaction.block_hash.block_hash %}">Return to block</a>)

<h3>Inputs (just what's saved)</h3>
{% if inputs %}
<ul>
  {% for input in inputs %}
  <li><a href="{% url 'talk:transaction_detail' input.output.tx %}">{{ input.output.value }} satoshis from {{ input.output.address }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No inputs (sorry, they're too old)</p>
{% endif %}
<h3>Outputs (all of 'em)</h3>
<ul>
  {% for output, reinput in outputs %}
  {% if reinput %}
  <li><a href="{% url 'talk:transaction_detail' reinput.tx_hash  %}">{{ output.output_index }}: {{ output.value }} satoshis to {{ output.address }}</a></li>
  {% else %}
  <li>{{ output.output_index }}: {{ output.value }} satoshis to {{ output.address }}</li>
  {% endif %}
  {% endfor %}
</ul>
{% endblock %}
