(<a href="{% url 'talk:index' %}">Return to block index</a>)
(<a href="{% url 'talk:block_detail' transaction.block_hash.block_hash %}">Return to block</a>)

<h3>Inputs</h3>
<ul>
  {% for input in inputs %}
  <li>Output {{ input.prev_index }} from <a href="{% url 'talk:transaction_detail' input.prev_tx %}">{{ input.prev_tx }}</a></li>
  {% endfor %}
</ul>
<h3>Outputs</h3>
<ul>
  {% for output in outputs %}
  <li>{{ output.output_index }}: {{ output.value }} satoshis to {{ output.pubkey }}</li>
  {% endfor %}
</ul>

